body {
    margin: auto;
    text-align:center;
}
td {
    width: 1vh;
    height: 1vh;
    border: solid black 1px;
    border-collapse: collapse;
    background-color: white;
}
table{
    margin:auto;
}
p{
    color:brown;
    font-size:5vh;
}